.searchbar-container{
  width: 50%;
  .search{
    display: flex;
    align-items: center;
    justify-content: center;
    .react-autosuggest__container{
      display: flex;
      justify-content: flex-end;
      flex-basis: 600px;
      position: relative;
    }
    .react-autosuggest__input{
      flex-basis: 600px;
      font-size: 16px;
      padding: 4px;
      border: 1px solid #D7D7D7;
      width: auto;
    }
    .react-autosuggest__input:focus {
      outline: none;
    }
    .react-autosuggest__container--open .react-autosuggest__input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .react-autosuggest__suggestions-container {
      display: none;
    }
    .react-autosuggest__container--open .react-autosuggest__suggestions-container {
      display: block;
      position: absolute;
      top: 27px;
      left: 0;
      white-space: nowrap;
      border: 1px solid #D7D7D7;
      background-color: #fff;
      font-weight: 300;
      font-size: 14px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      z-index: 2;
    }
    .react-autosuggest__suggestion {
      cursor: pointer;
      padding: 10px 20px;
    }
    .react-autosuggest__suggestion--focused {
      background-color: #ddd;
    }


    button{
      background: linear-gradient(#F8F8F8, #F0F0F0);
      flex: 0 0 70px;
      height: 28px;
      border: 1px solid #D7D7D7;
      border-left: 0;
      font-size: 14px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      cursor: pointer;
      color: #777;
    }
    button:hover{
      background-color: #F0F0F0;
      color: #000;
      box-shadow: 0 1px 1px #ddd;
    }
  }
}
