// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: 'Montserrat', sans-serif;
}

.button{
  background: linear-gradient(#F8F8F8, #F0F0F0);
  color: #777;
  box-shadow: 0 0 2px #777;
}
.button:hover{
  background: linear-gradient(#F0F0F0, #F0F0F0);
  color: #000;
}

content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
